body {
    margin: 0;
    min-width: 250px;
}

* {
    box-sizing: border-box;
}

.header {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: blueviolet;
    padding: 30px 40px;
    padding-top: 0;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header:after {
    content: "";
    display: table;
    clear: both;
}

.header h2 {
    font-family: Arial;
    font-size: 40px;
    padding: 10px;
    font-weight: bold;
}

.paragrafo {
    font-family: Arial;
    font-size: 18px;
    margin: 0 auto;
    max-width: 800px;
    text-align: justify;
    padding-bottom: 50px;
}

ul {
    margin: 0;
    padding: 0;
}

ul li {
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    background: #eee;
    font-size: 18px;
}

ul li:hover {
    background: #ddd;
    color: black;
}

ul li.checked {
    background: #888;
    color: #fff;
    text-decoration: line-through;
}

.close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px 16px 12px 16px;
    font-weight: bold;
}

.close:hover {
    background-color: red;
    color: white;
}

.novo-item {
    background-color: green;
    color: white;
    text-transform: uppercase;
    font-size: 16px;
}

input {
    border: none;
    border-radius: 6px;
    margin: 0 auto;
    max-width: 800px;
    width: 100%;
    float: left;
    font-size: 16px;
    padding: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.botoes {
    display: flex;
    justify-content: center;
    gap: 50px;
    padding: 50px;
    padding-bottom: 0;
    width: 70%;

}

.addBtn, .limpaBtn {
    padding: 10px;
    width: 180px;
    background: #d9d9d9;
    color: #555;
    float: left;
    text-align: center;
    align-items: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 6px;
    font-family: Arial;
    font-weight: bold;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
}

.addBtn:hover {
    background-color: #50aaff;
    color: #FFF;
}

.limpaBtn:hover {
    background-color: #ff2222;
    color: #FFF;
}

.list-header {
    padding: 10px;
    margin-left: 50px;
    display: flex;
    justify-content: space-between;
}

.list-header span {
    flex: 1;
    font-family: Arial;
    font-weight: bold;
    color: #555;
}

.list-header .description {
    text-align: center;
}

.list-header .remove {
    text-align: right;
}